%extends 'base.html.twig'%}
{% block page %}
<div class="">
    <h3>Add a book to the library!</h3>
    <form class="" action="/addbook" method="post">
        <label for="name">Book Name</label>
        <input type="text" name="name" value="">
        <label for="author">Book Author</label>
        <input type="text" name="author" value="">
        <button type="submit" name="button">Submit</button>
    </form>

    {%if result is not empty%}
    {{result}}
    {%endif%}
</div>
{%endblock%}
