{%extends 'base.html.twig'%}
{% block page %}
<div class="">
    <h2>Welcome patron!</h2>
</div>
<div class="">
    <h3>Check out a book?</h3>
    <table>
        <thead>
              <th>Book</th>
              <th>Author</th>
              <th>Status</th>
              <th>Checkout</th>
          </thead>
          <tbody>

    {%for copy in copies%}
    <tr>
    <td>{{copy.getTitle}} </td>
    <td>{{copy.getAuthor}}</td>
    <td>{%if copy.getStatus%}
        <p>available</p>
        {%else%}
        <p>unavailable</p>
        {%endif%}
    </td>
    <td>

        {%if copy.getStatus %}
        <form class="" action="/checkout" method="post">
            <input type="hidden" name="checkout" value="{{copy.getId}}">
            <button type="submit" name="Checkout">check out</button>
        </form>
        {%endif%}
    </td>
    <br>
</tr>
    {%endfor%}

          </tbody>
    </table>
</div>
{%endblock%}
